*.iml
/.gradle
/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/app/build
/app/*.iml

/ContactsCommon/build
/ContactsCommon/*.iml

/PhoneCommon/build
/PhoneCommon/*.iml

/TelephonyCommon/build
/TelephonyCommon/*.iml